  {% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}HomePage{% endblock title %}</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link rel="icon" sizes="512x512" href="{% static "img/accounts.png" %}">

    {% block style %}
    <link href="{% static "css/expopop.css" %}" rel="stylesheet">
    <link href="{% static "css/incopop.css" %}" rel="stylesheet">
    {% endblock style %}

    {% block datatablestyle %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css" >
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
    {% endblock datatablestyle %}

</head>



<body class="bg-gray-200 min-h-screen flex flex-col">

{% block message %}
{% for message in messages %}
<div id="toast-bottom-right" class="fixed flex items-center w-full max-w-xs p-4 space-x-4 text-white bg-gray-600 divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow bottom-5 right-5 dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800">
    <div class="text-sm font-normal">{{message}}</div>
</div>
    {% endfor %}
{% endblock message %}


{% block nav %}
<div>
    {% include "NavBar.html" %}
</div>

{% endblock nav %}


{% block head %}
<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white text-2xl font-bold">HomePage...</div>
        <div class="text-white text-1xl font-bold">{{ user }}</div>
        <div class="flex justify-center space-x-4">
            <a href="#" onclick="incomepopup()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add Income</a>
            <a href="#" onclick="popupFn()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add Expense</a>
        </div>
    </div>
</nav>
{% endblock head %}



<div class="flex-grow container mx-auto p-4">
{% block content %}
    <div class="bg-white shadow-md rounded-lg p-6 mb-5">
        <h2 class="text-2xl font-semibold mb-4">All Entries</h2>
        <table  style="width:100%" class="display alltable responsive nowrap">
            <thead>
                <tr class="bg-gray-800 text-white">
                    <th>Date</th>
                    <th>Reason</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entriesfortable %}
                <tr>
                    <td>{{ entry.date|date:"d M, Y" }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.amount }}</td>
                    <td>{{ entry.entry_type }}</td>
                    <td>{{ entry.source }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


<div class="bg-white shadow-md rounded-lg p-6 mb-5">
    <h2 class="text-2xl font-semibold mb-4 p-2">Summary:</h2>
    <div class="flex flex-wrap">
        <div class="w-full md:w-1/2">
            <form method="get" class="flex items-end space-x-4">
                <div class="flex flex-col">
                    <label for="start_date" class="text-sm font-medium text-gray-700">Start date:</label>
                    <input type="date" id="start_date" name="start_date" class="mt-1 p-2 border border-gray-300 rounded-md">
                </div>
                <div class="flex flex-col">
                    <label for="end_date" class="text-sm font-medium text-gray-700">End date:</label>
                    <input type="date" id="end_date" name="end_date" class="mt-1 p-2 border border-gray-300 rounded-md">
                </div>
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg">
                    Filter
                </button>
            </form>
    
            <div class="mt-8">
                <h2 class="text-xl font-semibold">From : <br>{{ start_date }} To {{ end_date }}</h2><br>
                <h1 class="text-xl font-semibold">Total Income: <span class="font-bold text-green-600 text-2xl">{{ total_income }}</span></h1>
                <br>
                <h1 class="text-xl font-semibold">Total Expense:<span class="font-bold text-red-600 text-2xl">{{ total_expenses }}</span></h1>
            </div>
        </div>
    
        <div class="w-full md:w-1/2 mt-8 md:mt-0">
            <div class="mt-8">
                <h2 class="text-2xl font-semibold text-right">Your Entries</h2>
                <table  style="width:100%" class="display summarytable responsive nowrap">
                    <thead>
                        <tr class="bg-gray-800 text-white">
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in entries %}
                        <tr>
                            <td>{{ entry.name }}</td>
                            <td>{{ entry.amount }}</td>
                            <td>{{ entry.entry_type }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
</div>


<div id="overlay"></div>



{% block datatablesscript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>


<script>
    $(document).ready(function () {
        var table = $('.alltable').DataTable({
            responsive: true,
            paging: true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "order": [[0, "desc"]],
            "info": true,
            "autoWidth": false,
            "pageLength": 15,
            "language": {
                "paginate": {
                    "next": "Next",
                    "previous": "Previous"
                },
                "search": "Search:",
            },
            dom: 'ifrtpB',
            buttons: [
                {
                    extend: 'copy',
                    title: null // Remove title from copied data
                },
                {
                    extend: 'csv',
                    title: null // Remove title from CSV file
                },
                {
                    extend: 'excel',
                    title: null, // Remove title from Excel file
                    customize: function (xlsx) {
                        var sheet = xlsx.xl.worksheets['sheet1.xml'];
                        $('row c[r^="A1"]', sheet).each(function () {
                            if ($(this).text().trim() === 'HomePage') {
                                $(this).text('');
                            }
                        });
                    }
                },
                {
                    extend: 'print',
                    title: null // Remove title from printed document
                }
            ],
        });
    });
</script>
{% endblock datatablesscript %}
{% block summarytable %}

<script>
    $(document).ready(function () {
        var table = $('.summarytable').DataTable({
            responsive: true,
            paging: false,
            "searching": true,
            "ordering": false,
            "info": false,
            "autoWidth": false,
            scrollCollapse: true,
            scrollY: '800px'
        });
    });
</script>
{% endblock summarytable %}
{% block popup %}

<div id="popupDialog" class="relative p-4 w-full max-w-md max-h-full bg-gray-100 ">
    {% include "finance/addExpense.html" %}
</div>

<div id="popupDialogforincome" class="relative p-4 w-full max-w-md max-h-full bg-gray-100 ">
    {% include "finance/addincome.html" %}
</div>
<script src="{% static 'js/expopop.js' %}"></script>
<script src="{% static 'js/incopop.js' %}"></script>
{% endblock popup %}
<script src="{% static 'js/homePage.js' %}"></script>


</body>
</html>
