<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static "css/login.css" %}" rel="stylesheet">
    <link href="{% static "css/signup.css" %}" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-800">
    {% for message in messages %}
    <div id="toast-bottom-right" class="fixed flex items-center w-full max-w-xs p-4 space-x-4 text-white bg-gray-600 divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow bottom-5 right-5 dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800">
        <div class="text-sm font-normal">{{message}}</div>
    </div>
        {% endfor %}
    <!-- Navbar -->
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="text-black text-2xl font-bold">FinTrack</div>
            <div>
                <a href="#" onclick="loginpop()" class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded">Login</a>
                <a href="#" onclick="signupop()" class="bg-green-500 hover:bg-green-700 text-black font-bold py-2 px-4 rounded ml-2">Sign Up</a>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero-bg h-96 flex items-center justify-center text-black">
        <div class="text-center">
            <h2 class="text-5xl font-bold mb-4">Easy To Use Finance Tracker</h2>
            <p class="text-xl mb-8">The best solution for managing your Finances.</p>
            <a href="{% url "homePage" %}" class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded">Learn More</a>
        </div>
    </section>

    <!-- Features Section -->
    <section id="features" class="py-12">
        <div class="container mx-auto px-4">
            <h2 class="text-4xl font-bold text-center mb-8">Features</h2>
            <div class="flex flex-wrap -mx-4">
                <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
                    <div class="bg-white shadow-lg rounded-lg p-6">
                        <h3 class="text-2xl font-bold mb-4">Adding</h3>
                        <p class="text-gray-600">Add Everything.</p>
                    </div>
                </div>
                <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
                    <div class="bg-white shadow-lg rounded-lg p-6">
                        <h3 class="text-2xl font-bold mb-4">Remove</h3>
                        <p class="text-gray-600">Remove Everything.</p>
                    </div>
                </div>
                <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
                    <div class="bg-white shadow-lg rounded-lg p-6">
                        <h3 class="text-2xl font-bold mb-4">Edit</h3>
                        <p class="text-gray-600">Edit .. Not Available At The Moment.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div id="overlay"></div>

    <div id="loginpop" class="relative p-4 w-full max-w-md max-h-full bg-gray-100 ">
        {% include "login.html" %}
    </div>
    
    <div id="signupop" class="relative p-4 w-full max-w-md max-h-full bg-gray-100 ">
        {% include "signup.html" %}
    </div>
    
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/signup.js' %}"></script>
    <script src="{% static 'js/homePage.js' %}"></script>

    <!-- Footer -->
    <footer class="bg-gray-800 p-4 text-white text-center">
        <p>&copy; 2024 SidVerma2206. All rights reserved. </p>
    </footer>

</body>
</html>
