{% load static %}
{% load guest_user %}
<link href="{% static 'css/nav.css' %}" rel="stylesheet" />

<div class="sidebar">
      <div class="logo-details">
          <a href="{% url "homePage" %}">
          <i class='fa-solid fa-house' id="btn"></i>
        </a>
        </div>
        <ul class="nav-list">
          <li>
            <a href="{% url "financeurl" %}">
              <i class="fa-solid fa-money-bill-wave"></i>
            </a>
            <span class="tooltip">Finance</span>
          </li>
          <li>
            <a href="{% url "showaccounts" %}">
              <i class='fa-solid fa-landmark'></i>
            </a>
            <span class="tooltip">Your Accounts</span>
          </li>
          <li>
            <a href="#">
              <i class='fa-solid fa-chart-pie'></i>
            </a>
            <span class="tooltip">Analytics</span>
          </li>
          <hr>
          {% if user.is_authenticated %}
          {% if user|is_guest_user %}
          <li>
            <a href="{% url 'delete' %}">
              <i class='fa-solid fa-trash'></i>
            </a>
            <span class="tooltip">Delete Guest Account & Exit</span>
          </li>
          {% else %}
          <li>
            <a href="{% url "logout" %}">
              <i class='fa-solid fa-right-from-bracket'></i>
            </a>
            <span class="tooltip">logout</span>
          </li>
          <li>
            <a href="{% url 'delete' %}">
              <i class='fa-solid fa-trash'></i>
            </a>
            <span class="tooltip">Delete Account</span>
          </li>
          {% endif %}
          {% endif %}
        </ul>
</div>